.cn {
    width: 750px;
    height: 450px;
    margin: 10px 0 0 10px;
}

.carousel-fade .carousel-item {
    opacity: 0;
    -webkit-transition: -webkit-transform .6s;
    transition-duration: .6s;
    transition-property: opacity;
}
.carousel-fade .carousel-item.active {
    opacity: 1;
    
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right{
    opacity: 0;
}
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right{
    transform: translateX(0);
    transform: translate3d(0,0,0);
}

