.cn {
    width: 750px;
    height: 450px;
    margin: 10px 0 0 10px;
}

.carousel-fade .carousel-item {
    -webkit-transition: -webkit-transform .5s ease-in-out;
/*    transition: transform .5s ease-in-out; */
    transition-duration: .5s;
}
